*{
  margin: 0;
  padding: 0;
}

body{
  background: url('/images/hackmcr.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.m-b-reset{
  margin-bottom: 0px !important;
}

.margin-reset{
  margin: 0px !important;
}

.padding-reset{
  padding: 0px !important;
}

.ui .message{
  padding-top: 30px !important;
  padding-bottom:  50px !important;
}

.ui.huge.message {
  background-color: rgba(255,255,255,.8);
}

.ui.segment {
    background-color: rgba(255,255,255,0.8);
}

.m-top-10{
  margin-top: 10px !important;
}

.hidden{
  opacity: 0;
}

.main{
  margin: 0 2em;
  padding:2em;
}

.ui .button{
  text-transform: capitalize;
}

.box{
  background-color: black;
  margin:5em;
 padding:5em 4em 6em 4em;
}

.heading{
  background-color: pink;
  margin-bottom:2em;
  padding:1em 4em;
}

.main-content{
 background-color: green;
 padding:4em;
}
