<h2>Create your very first web page!</h2>
<p>
	Open notepad and copy the following into a new file	
</p>

<xmp>
	<html>
		<body>
			<h1>Hello World</h1>
		</body>
	</html>
</xmp>

<p>
	Save file as index.html <br>
	Save as Type "all files" <br>
	Double click on your webpage!!!
</p>


<a href='publish'><div style='float:right;' class="ui pink button">Publish to the internet</div></a>