<img  class="ui medium bordered image" src='https://i.imgur.com/Q3cUg29.gif'>
<p>CSS is HARD</p>

<h2>Frameworks</h2>
<p>The beauty of the internet is that lots of people have already done a lot of stuff for you already.</p>

<p>This site was built using <a href="http://semantic-ui.com/">Semantic-UI</a></p>

<p>Another very popular framework is <a href="http://getbootstrap.com/">Twitter's Bootstrap</a></p>
