<h2>CSS - Cascading Style Sheets</h2>
<p>Your site looks a bit rubbish though, doesn't it?</p>
<p>Now you have content, let's make it look better!</p>
<p>Your HTML file contains your content, and describes to the browser what that content is.</p>
<p>Your CSS file contains your rules for how to display that content.</p>

<h3>style.css</h3>
<p>In Neocities, edit your index.html</p>
<p>Note the link in the &#60;head&#62; which has an src, just like your link to the instructions.html page.</p>
<p>This is pointing to a file called style.css in your neocities dashboard.</p>
<p>Try changing to colour of your body and see what happens to your index.html</p>
<p>If your instructions.html doesn't already have a link to your css file, add it.</p>
<p>Try adding a rule in your style.css for the color of your &#60;h1&#62; in your instructions.html</p>

<h3>Classes</h3>
<p>So far you've been adding rules for tags &#60;h1&#62; (anything between those pointy brackets)</p>
<p>That's a rule for ANY tag that has a &#60;h1&#62;. But you might not want all your h1's to have the same rule!</p>
<p>This is where classes come in. Add an attribute call "class" to one of your tags, and give it a name</p>
<p>Example: &#60;h1 class="title"&#62;</p>
<p>You add a rule for a class in the css by using a . followed by the name of the class</p>
<p>
	Example: 
	<xmp>
		.title{
			background-color:black;
			color:white;
		}
	</xmp>
</p>


<a href='morecss'><div style='float:right;' class="ui pink button">More CSS</div></a>