<h2><a href='http://twitter.com/ruby_gem'>@ruby_gem</a></h2>
<p>I'm a developer with over 10 years experience!</p>
<p><i class="twitter icon"></i><a href="http://twitter.com/ruby_gem">@ruby_gem</a></p>
<p><i class="envelope icon"></i><a href="mailto:gemma.cameron@gmail.com">gemma.cameron@gmail.com</a></p>
