<h1>Welcome</h1>
<p>Learn how to make a simple three-page website using HTML and CSS, the building blocks of the web.</p>


<h2>Learning objectives</h2>

<div class="ui bulleted list">
	<li class="item">Be able to create a very simple website using HTML</li>
	<li class="item">Style the web pages using CSS</li>
	<li class="item">Upload their website to the internet.</li>
	<li class="item">Publish your own website on the internet.</li>
</div>
<!-- 
<h3>Day 1</h3> -->
<p>
	<ul>
		<li>Create a webpage using HTML</li>
		<li>Publish to the internet</li>
		<li>Introduction to online web development tools</li>
		<li>Make the page look good with CSS</li>
</p>

<!-- <h3>Day 2</h3>
<p>
	Work on your own website<br>
	WITH HELP! ^_^
</p> -->

<p>Firstly go to the <a href="http://bit.ly/dswgmweb">Presentation</a>
<p>NOTE: Always use Google Chrome!!!!</p>

<a href='create'><div style='float:right;' class="ui green button">Create a webpage using HTML</div></a>
