<p>Learn how to make a simple three-page website using HTML and CSS, the building blocks of the web.</p>

<h2>Learning objectives</h2>

<div class="ui bulleted list">
	<li class="item">Be able to create a very simple website using HTML</li>
	<li class="item">Style the web pages using CSS</li>
	<li class="item">Upload their website to the internet.</li>
	<li class="item">Publish your own website on the internet.</li>
</div>

<h3>Day 1</h3>
<p>
	Create a webpage using HTML<br>
	Publish to the internet<br>
	Introduction to online web development tools<br>
	Make the page look good with CSS
</p>

<h3>Day 2</h3>
<p>
	Work on your own website<br>
	WITH HELP! ^_^
</p>

<a href='create'><div style='float:right;' class="ui pink button">Create a webpage using HTML</div></a>