<p>Learn how to make a simple three-page website using HTML and CSS, the building blocks of the web.</p>

<h2>Learning objectives</h2>

<div class="ui bulleted list">
	<li class="item">Be able to create a very simple website using HTML</li>
	<li class="item">Style the web pages using CSS</li>
	<li class="item">Upload their website to the internet.</li>
	<li class="item">Publish your own website on the internet.</li>
</div>

<a href='create'><div style='float:right;' class="ui pink button">Create a webpage using HTML</div></a>