<h2>Write it up!</h2>

<p>
	Use Microsoft word to write a nice "how to" create a webpage and upload it to the internet.<br>
	Get creative! Make it look pretty.
</p>

<p>
	example:<br>
	1. Open notepad (windows -> accessories -> notepad)</pbr>ss
	2. save file as index.html
</p>

<p>
	try following your instructions and see if you missed anything
</p>

<a href='neocities'><div style='float:right;' class="ui green button">Create a site!</div></a>
