<h2>CSS - Cascading Style Sheets</h2>
<p>Use <a href="http://www.w3schools.com/css/">w3schools</a> css guide to help you make your instructions.html look great!</p>
<p>Now have a think how you want your new website to look, what content needs to be on it...</p>

<h2>Further reading</h2>
<p><a href='https://css-tricks.com/snippets/'>CSS Tricks</a> is a great resource! Try googling for what you want to do!</p>

<h2>CSS Boxes and layouts</h2>
<p>CSS Layouts are usually a series of boxes. Try right click and inspect element on the following, there's a section called "computed" and this shows you a box. Check out the borders and margins here:</p>
<div class='box'>
	<div class='heading'>
		<h1>HEADING</h1>
	</div>
	<div class='main-content'>
		<p>Lots of lovely content</p> 
	</div>
</div>

<a href='cssframeworks'><div style='float:right;' class="ui green button">CSS Frameworks</div></a>
