<h2>Online Web Development Tools</h2>
<p>Visit <a href="http://neocities.org">Neocities.org</a> and sign up</p>

<div class="ui bulleted list">
	<li class="item">edit your site</li>
	<li class="item">create a new page called instructions.html</li>
	<li class="item">delete the generated code between the body tags</li>
	<li class="item">copy and paste your instructions from the word document into the new page</li>
	<li class="item">format it using ordered lists</li>
	<li class="item">escape example html using <xmp><xmp></xmp></li>
</div>

<p>In Neocities, edit your index.html and add a link to your instructions.html page.</p>

<p>Congratulations! You now have a 2 page website!</p>

<p>For help on how to format your instructions, please check out <a href='http://www.w3schools.com/html/default.asp'>w3schools</a> where you will find a great HTML glossary.</p>


<a href='cssintro'><div style='float:right;' class="ui green button">Intro to CSS</div></a>
