<h2>Publish to the internet</h2>
<p>Visit <a href="http://bitballoon.com">Bitballoon.com</a></p>
<p>drag your index.html file into the upload area (you may have to scroll to the bottom of the page.</p>
<p>This is the process of uploading your site to the server.</p>
<p>NOTE: BitBalloon only keeps your site for 24 hours. That's why it's got a funny name</p>

<a href='instructions'><div style='float:right;' class="ui pink button">Write up your instructions</div></a>